<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="androidremotemanage.app"
      android:versionCode="1"
      android:versionName="1.0">
  <service
      android:name="NotificationMonitor"
      android:label="RemoteNotify Service"
      />
  <uses-permission android:name="android.permission.READ_PHONE_STATE">
  </uses-permission>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_CONTACTS"/>
  <uses-permission android:name="android.permission.CAMERA" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="panel"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
          android:name="com.google.zxing.client.android.CaptureActivity"
          android:configChanges="orientation|keyboardHidden"
          android:screenOrientation="portrait"
          android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
          android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>  
    </application>
</manifest>
